.libs/
config.h
libtool
vhpop
vhpop-*.*.tar.gz
vhpop-*.*/
*.log
*.trs
src/*_test

# Automake files.
Makefile.in
.deps/
.dirstamp

# Autoconf files.
autom4te.cache/
aclocal.m4
config.h.in
config.log
config.status
configure
stamp-h1

# Libtool files.
ltmain.sh

# M4 files.
libtool.m4
ltoptions.m4
ltversion.m4

# Generated Makefile.
Makefile
!gtest/make/Makefile
!gtest/scripts/test/Makefile

# Compiled object files.
*.lo
*.o

# Compiled static libraries.
*.la

# Backup files.
*~
