.libs/
config.h
libtool
vhpop
*.log
*.trs
src/*_test

# Automake files.
.deps/
.dirstamp

# Autoconf files.
autom4te.cache/
config.log
config.status
stamp-h1

# Generated Makefile.
Makefile

# Compiled object files.
*.lo
*.o

# Compiled static libraries.
*.la

# Backup files.
*~
